body {
    background-color: #102e1aab;
    font-family: sans-serif;

    .header {
        text-align: center;
        color: aliceblue;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 10px;

        & .css-sghohy-MuiButtonBase-root-MuiButton-root {
            height: 54px;
            margin: 0px 10px;
            background-color: #9024f34f;
            border-radius: 30px;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        & .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
            height: 30px;
            padding: 0px 5px;
            width: 440px;
        }

        & .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
            margin-top: 10px;
        }

        .completed {
            
            & .css-ahj2mt-MuiTypography-root {
                min-width: 600px;
                overflow-wrap: break-word;
                max-width: 600px;
                text-decoration: line-through;
            }

            

            display: none;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            border-bottom: solid 2px rgb(255, 0, 0);
            border-left: solid 2px rgb(255, 0, 0);
            box-shadow: 1px -1px 3px 0px rgb(7, 7, 7);
            border-radius: 3px;
        }

        .notCompleted {

            & .css-ahj2mt-MuiTypography-root {
                min-width: 600px;
                overflow-wrap: break-word;
                max-width: 600px;
            }

            color: aliceblue;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            border-bottom: solid 2px rgb(173, 255, 47);
            border-left: solid 2px rgb(173, 255, 47);
            box-shadow: 1px -1px 3px 0px white;
            border-radius: 3px;
        }
    }
}
